html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: rgb(32, 30, 30);
}
.pimag1{
    background-image: url(images/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.avif);
    min-height: 100%;}
    .pimag1,
    .pimag2,
    .pimag3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimag2{
    background-image: url(images/flowers-276014__340.jpg);
    min-height: 400px;
}
    .pimag3{
        background-image: url(images/hills-615429__340.jpg);
        min-height: 400px;}
        .ptext{
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            color: aliceblue;
            font-size: 30px;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
        .textbg{
            background: rgb(40, 40, 40);
            color: rgb(20, 234, 194);
            padding: 20px;
        }
        .section{
            padding: 50px 80px;
            text-align: center;
    }
    .section-light{
        background-color: rgb(109, 158, 10);
        color: rgb(22, 21, 21);
    }
    .section-dark{
        background-color: rgb(106, 148, 59);
    }
    .section-shine{
        background-color: rgb(19, 98, 38);
    }